@model Ocean2014.ViewModel.HeaderViewModel
<header>
    <div id="header-line">
        <a href="/"><img src="~/Content/images/Vietnam_Flag.jpg" alt="Việt Nam" height="20" /></a>
        <a href="http://en.ocean.edu.vn/"><img src="~/Content/images/english_flag.jpg" alt="English" height="20" /></a>
    </div>
    <div class="container">
        <div class="line-menu clearfix" id="menu-sticky">
            <div id="logo">
                <a href="/"><img src="~/Content/images/v2/logo.png" alt="Ocean EDU" /></a>
            </div>
            <nav id="nav-top-demo">
                <div class="top-header clearfix">
                    <div class="slogan">HỆ THỐNG ANH NGỮ QUỐC TẾ</div>
                    <div class="right-top">
                        <div class="social-box-top">
                            <a href="https://www.facebook.com/OceanEduVietNam/" target="blank"><i class="fa fa-facebook-square"></i></a>
                            <a href="https://www.youtube.com/channel/UCutkhO_UB3kTuPtJCiaQY-g" target="blank"><i class="fa fa-youtube-square"></i></a>
							<a href="https://www.flickr.com/photos/126534291@N06/" target="blank"><i class="fa fa-flickr"></i></a>
                            @* <a href="https://twitter.com/edu_ocean" target="blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> *@
                            @* <a href="https://www.linkedin.com/company/ocean-edu-vi%E1%BB%87t-nam?trk=biz-companies-cym" target="blank"><i class="fa fa-linkedin-square"></i></a> *@
                        </div>
                        <div class="hotline-top">
                            <div class="mobile"><span>Hotline</span> <a href="tel:19006494">1900 6494</a></div>
                            <div class="email">
                                <a href="mailto:info@ocean.edu.vn"><i class="fa fa-envelope"></i> info@ocean.edu.vn</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul id="menu-desktop" class="hidden-xs hidden-sm">
                    <li><a href="@Url.Action("Index", new { Culture })"><i class="fa fa-home fa-2x"></i></a></li>
                    <li>
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.About</a>
                        <ul class="sub-menu">
                            @foreach (var about in Model.Abouts.Take(2))
                            {
                                <li><span class="icon-menu-left"></span> <a href="@Url.Action("About", new {aboutId = about.Id, name = Html.ConvertToUnSign(about.Subject), Culture})">@about.Subject</a></li>
                            }
                            <li><span class="icon-menu-left"></span> <a href="@Url.Action("ListTeacher", new {Culture})">@Resource.Teachers</a></li>
                            @foreach (var about in Model.Abouts.Skip(2))
                            {
                                <li><span class="icon-menu-left"></span> <a href="@Url.Action("About", new {aboutId = about.Id, name = Html.ConvertToUnSign(about.Subject), Culture})">@about.Subject</a></li>
                            }
                            @*<li><span class="icon-menu-left"></span> <a href="@Url.Action("ListFacility", new {Culture})">@Resource.Classrooms</a></li>*@
                        </ul>
                    </li>
					<li id="all-course">
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.ChuongTrinh</a>
                        <ul class="sub-menu">
                            @foreach (var groupCourse in Model.GroupCourses)
                            {
                                <li>
                                    <span class="icon-menu-left"></span> <a href="@Url.Action("GroupCourse", new {gId = groupCourse.Id, name = Html.ConvertToUnSign(groupCourse.Name), Culture})">@(UICulture == "vi-VN" ? groupCourse.Name : groupCourse.Name_En)</a>
                                    @if (Model.Courses.Any(a => a.GroupId == groupCourse.Id))
                                    {
                                        <ul>
                                            @foreach (var course in Model.Courses.Where(a => a.GroupId == groupCourse.Id))
                                            {
                                                var url = Url.Action("Course", new { courseId = course.Id, name = Html.ConvertToUnSign(course.Name), Culture });
                                                if (course.Url != null)
                                                {
                                                    url = course.Url;
                                                }
                                                <li><a href="@url"><i class="fa fa-angle-right"></i> @course.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="hvr-overline-from-center">Tin tức</a>
                        <ul class="sub-menu">
                        <li><span class="icon-menu-left"></span><a href="/vi-VN/tin-tuc/ban-tin-ocean-edu-183">Bản Tin Ocean Edu</a></li>
						<li><span class="icon-menu-left"></span><a href="/vi-VN/tin-tuc/tin-tuc-chung-236">Sự Kiện</a></li>   
						<li><span class="icon-menu-left"></span><a href="/vi-VN/tin-tuc/goc-bao-chi-208">Góc Báo Chí</a></li> 
                        <li><span class="icon-menu-left"></span><a href="http://jobs.ocean.edu.vn/">Tuyển Dụng</a></li>
						<li><span class="icon-menu-left"></span><a href="/vi-VN/hinh-anh">Thư Viện Hình Ảnh</a></li>
						<li><span class="icon-menu-left"></span><a href="/videos">Video</a></li>
						</ul>
                    </li>
                    <li>
                        <a href="#" target="blank">Cuộc thi</a>
                        <ul class="sub-menu">
                            <li><span class="icon-menu-left"></span> <a href="/vi-VN/tin-tuc/cuoc-thi-ocean-edu-216">Tin Tức Cuộc Thi</a></li>
                            <li><span class="icon-menu-left"></span> <a href="http://ocean.edu.vn/toeflprimary/">TOEFL Primary</a></li>
                            <li><span class="icon-menu-left"></span> <a href="http://ocean.edu.vn/toefljunior/">TOEFL Junior</a></li>
                            <li><span class="icon-menu-left"></span> <a href="http://ocean.edu.vn/cambridge/">Cambridge Primary</a></li>
                            <li><span class="icon-menu-left"></span> <a href="http://cambridgejunior.ocean.edu.vn/">Cambridge Junior</a></li>
                            <li><span class="icon-menu-left"></span> <a href="#">IELTS and TOEIC Circle of Champions</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" target="blank">Góc học tập</a>
                        <ul class="sub-menu">
                        <li><span class="icon-menu-left"></span> <a href="http://students.ocean.edu.vn">Tài Liệu Học Tập</a></li>
                            <li><span class="icon-menu-left"></span> <a href="/lich-khai-giang">Lịch Khai Giảng</a></li>
							<li><span class="icon-menu-left"></span> <a href="/ket-qua-hoc-tap">Kết Quả Học Tập</a></li>	
							<li><span class="icon-menu-left"></span> <a href="/vi-VN/tin-tuc/hoc-tieng-anh-hieu-qua-237">Học Tiếng Anh Hiệu Quả</a></li>							
							<li><span class="icon-menu-left"></span> <a href="/vi-VN/tin-tuc/tam-su-hoc-vien-210">Cảm Nhận Học Viên</a></li>
							
							
                        </ul>
                    </li>
                <li><a href="/vi-VN/gioi-thieu/he-thong-chi-nhanh-dao-tao-17" class="hvr-overline-from-center">Chi nhánh</a></li>

                <li><a href="/placement-test">Kiểm tra </a>
<img src="http://ocean.edu.vn/images/icons/free.png" style="
    position: absolute;
    right: -12px;
    top: -14px;
    width: 43px;
"></li>
                    
                    <li><a href="/vi-VN/lien-he-ocean-edu">Liên hệ</a></li>
                </ul>
                <div class="hidden-md hidden-lg">
                    <div class="slogan-mobile">
                        Học tiếng anh với <strong class="font-colossalis">100%</strong> giáo viên nước ngoài
                    </div>
                    <div class="icon-bar" onclick="$('#menu-mobile').fadeIn()">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>

</header>
<div id="menu-mobile">
    <div class="close-button"><a href="javascript:;" onclick="$('#menu-mobile').fadeOut()"><i class="fa fa-remove"></i></a></div>
    <ul class="scrollbar-inner">
        <li>@Html.ActionLink(Resource.Home, "Index", new { Culture })</li>
        <li>
            <a href="javascript:;">@Resource.About</a>
            <ul class="sub-menu">
                @foreach (var about in Model.Abouts.Take(2))
                {
                    <li><a href="@Url.Action("About", new {aboutId = about.Id, name = Html.ConvertToUnSign(about.Subject), Culture})">@about.Subject</a></li>
                }
                <li><a href="@Url.Action("ListTeacher", new {Culture})">@Resource.Teachers</a></li>
                @foreach (var about in Model.Abouts.Skip(2))
                {
                    <li><a href="@Url.Action("About", new {aboutId = about.Id, name = Html.ConvertToUnSign(about.Subject), Culture})">@about.Subject</a></li>
                }
                @*<li><a href="@Url.Action("ListFacility", new {Culture})">@Resource.Classrooms</a></li>*@
            </ul>
        </li>
        <li>
            <a href="javascript:;">Tin tức</a>
            <ul class="sub-menu">
                @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 1))
                {
                    <li>
                        <a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a>
                    </li>
                }
            </ul>
        </li>
        <li>
            <a href="javascript:;">@Resource.ChuongTrinh</a>
            <ul class="sub-menu">
                @foreach (var groupCourse in Model.GroupCourses)
                {
                    <li>
                        <a href="@Url.Action("GroupCourse", new {gId = groupCourse.Id, name = Html.ConvertToUnSign(groupCourse.Name), Culture})">@(UICulture == "vi-VN" ? groupCourse.Name : groupCourse.Name_En)</a>
                        @if (Model.Courses.Any(a => a.GroupId == groupCourse.Id))
                        {
                            <ul>
                                @foreach (var course in Model.Courses.Where(a => a.GroupId == groupCourse.Id))
                                {
                                    <li><a href="@Url.Action("Course", new {courseId = course.Id, name = Html.ConvertToUnSign(course.Name), Culture})">@course.Name</a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </li>
        <li>
            <a href="javascript:;">Cuộc thi</a>
            <ul class="sub-menu">
                <li><a href="http://ocean.edu.vn/toeflprimary/">Toefl Primary</a></li>
                <li><a href="http://ocean.edu.vn/toefljunior/">Toefl Junior</a></li>
                <li><a href="http://ocean.edu.vn/cambridge/">Cambridge Primary</a></li>
                <li><a href="http://cambridgejunior.ocean.edu.vn/">Cambridge Junior</a></li>
                <li><a href="#">IELTS and TOEIC Circle of Champions</a></li>
            </ul>
        </li>
        <li><a href="http://ocean.edu.vn/blog/" target="blank">Blog</a></li>
        <li>
            <a href="javascript:;">Học viên</a>
            <ul class="sub-menu">
                <li>
                    <a href="@Url.Action("Scheduler")">@Resource.LichKhaiGiang</a>
                    @*@if (Model.Categorieses.Any(a => a.ParentId == 126))
                    {
                        string cssClass = null;
                        if (Model.Categorieses.Count(a => a.ParentId == 126) > 10)
                        {
                            cssClass = "two-col";
                        }
                        <ul class="sub-menu @cssClass">
                            @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 126))
                            {
                                <li><a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                            }
                        </ul>
                    }*@
                </li>
                <li>
                    <a href="@Url.Action("StudentResult")">@Resource.KetQuaHoc</a>
                    @*@if (Model.Categorieses.Any(a => a.ParentId == 34))
                    {
                        string cssClass = null;
                        if (Model.Categorieses.Count(a => a.ParentId == 34) > 10)
                        {
                            cssClass = "two-col";
                        }
                        <ul class="sub-menu @cssClass">
                            @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 34))
                            {
                                <li><a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                            }
                        </ul>
                    }*@
                </li>
                <li>
                    <a href="javascript:;">@Resource.TuongTacHocVien</a>
                    <ul class="sub-menu">
                        @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 209))
                        {
                            <li><a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                        }
                    </ul>
                </li>
                <li><a href="#">Học viên xuất sắc</a></li>
                <li><a href="/vi-VN/tin-tuc/hoi-dap-212">Hỏi đáp</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">Thư viện</a>
            <ul class="sub-menu">
                <li>@Html.ActionLink(Resource.Album, "ProfileImage", new { Culture })</li>
                <li>@Html.ActionLink("Video - Clip", "ListVideo")</li>
                <li>@Html.ActionLink(Resource.Document, "Document", new { Culture })</li>
            </ul>
        </li>
        <li><a href="/placement-test">Kiểm tra</a></li>
        <li><a href="@Url.Action("Contact", new { Culture })">Liên hệ</a></li>
        <li>
            <a href="javascript:;">Xem thêm</a>
            <ul class="sub-menu">
                <li>
                    <a href="http://jobs.ocean.edu.vn" target="blank">@Resource.TuyenDung</a>
                </li>
            </ul>
        </li>
    </ul>
</div>