@model Ocean2014.ViewModel.HeaderViewModel
<header>
    <div id="header-line">
        <a href="/"><img src="~/Content/images/Vietnam_Flag.jpg" alt="Việt Nam" height="20" /></a>
        <a href="http://en.ocean.edu.vn/"><img src="~/Content/images/english_flag.jpg" alt="English" height="20" /></a>
    </div>
    <div class="container">
        <div class="line-menu clearfix">
            <div id="logo">
                <a href="/"><img src="~/Content/images/v2/logo.png" alt="Ocean EDU"/></a>
            </div>
            <nav id="nav-top-demo">
                <div class="top-header clearfix">
                    <div class="slogan">HỆ THỐNG ANH NGỮ QUỐC TẾ</div>
                    <div class="right-top">
                        <div class="social-box-top">
                            <a href="https://www.facebook.com/OceanEduVietNam/" target="blank"><i class="fa fa-facebook-square"></i></a>
                            <a href="https://www.youtube.com/channel/UCutkhO_UB3kTuPtJCiaQY-g" target="blank"><i class="fa fa-youtube-square"></i></a>
                            <a href="https://www.linkedin.com/company/ocean-edu-vi%E1%BB%87t-nam?trk=biz-companies-cym" target="blank"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                        <img src="~/Content/images/v2/hotline.png" alt="Hotline" />
                    </div>
                </div>
                <ul id="menu-desktop" class="hidden-xs hidden-sm">
                    <li>@Html.ActionLink(Resource.Home, "Index", new { Culture })</li>
                    <li>
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.About</a>
                        <ul class="sub-menu">
                            @foreach (var about in Model.Abouts.Take(2))
                            {
                                <li><span class="icon-menu-left"></span> <a href="@Url.Action("About", new {aboutId = about.Id, name = Html.ConvertToUnSign(about.Subject), Culture})">@about.Subject</a></li>
                            }
                            <li><span class="icon-menu-left"></span> <a href="@Url.Action("ListTeacher", new {Culture})">@Resource.Teachers</a></li>
                            @foreach (var about in Model.Abouts.Skip(2))
                            {
                                <li><span class="icon-menu-left"></span> <a href="@Url.Action("About", new {aboutId = about.Id, name = Html.ConvertToUnSign(about.Subject), Culture})">@about.Subject</a></li>
                            }
                            @*<li><span class="icon-menu-left"></span> <a href="@Url.Action("ListFacility", new {Culture})">@Resource.Classrooms</a></li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.NewEvent</a>
                        <ul class="sub-menu">
                            @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 1))
                            {
                                <li>
                                    <span class="icon-menu-left"></span> <a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li id="all-course">
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.ChuongTrinh</a>
                        <ul class="sub-menu">
                            @foreach (var groupCourse in Model.GroupCourses)
                            {
                                <li>
                                    <span class="icon-menu-left"></span> <a href="@Url.Action("GroupCourse", new {gId = groupCourse.Id, name = Html.ConvertToUnSign(groupCourse.Name), Culture})">@(UICulture == "vi-VN" ? groupCourse.Name : groupCourse.Name_En)</a>
                                    @if (Model.Courses.Any(a => a.GroupId == groupCourse.Id))
                                    {
                                        <ul>
                                            @foreach (var course in Model.Courses.Where(a => a.GroupId == groupCourse.Id))
                                            {
                                                var url = Url.Action("Course", new { courseId = course.Id, name = Html.ConvertToUnSign(course.Name), Culture });
                                                if (course.Url != null)
                                                {
                                                    url = course.Url;
                                                }
                                                <li><a href="@url"><i class="fa fa-angle-right"></i> @course.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                        @*<div id="course-list-menu">
                                <div class="row">
                                    <div class="col-sm-4">
                                        @foreach (var groupCourse in Model.GroupCourses)
                                        {
                                        <p data-id="@groupCourse.Id" class="group-name">
                                            <a href="@Url.Action("GroupCourse", new {gId = groupCourse.Id, name = Html.ConvertToUnSign(groupCourse.Name), Culture})">@(UICulture == "vi-VN" ? groupCourse.Name : groupCourse.Name_En) <i class="fa fa-caret-right"></i></a>
                                        </p>
                                        }
                                    </div>
                                    <div class="col-sm-4">
                                        @foreach (var groupCourse in Model.GroupCourses)
                                        {
                                            <div id="group-course-@groupCourse.Id">
                                                @foreach (var course in groupCourse.Courses)
                                                    {
                                                    <p>
                                                        <a href="@Url.Action("Course", new {courseId = course.Id, name = Html.ConvertToUnSign(course.Name), Culture})">@course.Name</a>
                                                    </p>
                                                    }
                                            </div>
                                        }
                                    </div>
                                    <div class="col-sm-4" id="all-course-menu">
                                        <p class="font-colossalis">@Resource.ListCourse</p>
                                        <div class="scrollbar-inner">
                                            @foreach (var course in Model.Courses)
                                            {
                                                <p>
                                                    <a href="@Url.Action("Course", new {courseId = course.Id, name = Html.ConvertToUnSign(course.Name), Culture})">&bull; @course.Name</a>
                                                </p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </li>
                    <li>
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.LichKhaiGiang</a>
                        @if (Model.Categorieses.Any(a => a.ParentId == 126))
                        {
                            string cssClass = null;
                            if (Model.Categorieses.Count(a => a.ParentId == 126) > 10)
                            {
                                cssClass = "two-col";
                            }
                            <ul class="sub-menu @cssClass">
                                @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 126))
                                {
                                    <li><span class="icon-menu-left"></span> <a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                                }
                            </ul>
                        }
                    </li>
                    <li>
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.KetQuaHoc</a>
                        @if (Model.Categorieses.Any(a => a.ParentId == 34))
                        {
                            string cssClass = null;
                            if (Model.Categorieses.Count(a => a.ParentId == 34) > 10)
                            {
                                cssClass = "two-col";
                            }
                            <ul class="sub-menu @cssClass">
                                @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 34))
                                {
                                    <li><span class="icon-menu-left"></span> <a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                                }
                            </ul>
                        }
                    </li>
                    <li>
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.TuongTacHocVien</a>
                        <ul class="sub-menu">
                            @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 209))
                            {
                                <li><span class="icon-menu-left"></span> <a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                            }
                        </ul>
                    </li>
                    @*<li>
                        <a href="javascript:;" class="hvr-overline-from-center">@Resource.DuHoc</a>
                        <ul class="sub-menu">
                            @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 3))
                            {
                                <li><span class="icon-menu-left"></span> <a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                            }
                        </ul>
                    </li>*@
                    <li>
                        <a href="javascritp:;" class="hvr-overline-from-center">@Resource.More</a>
                        <ul class="sub-menu">
                            <li><span class="icon-menu-left"></span> @Html.ActionLink(Resource.Contact, "Contact", new { Culture })</li>
                            <li><span class="icon-menu-left"></span> <a href="http://jobs.ocean.edu.vn" target="blank">@Resource.TuyenDung</a></li>
                            <li><span class="icon-menu-left"></span> @Html.ActionLink(Resource.Album, "ProfileImage", new { Culture })</li>
                            <li><span class="icon-menu-left"></span> @Html.ActionLink(Resource.Document, "Document", new { Culture })</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="menu-mobile">
    <div class="close-button"><a href="javascript:;" onclick="$('#menu-mobile').fadeOut()"><i class="fa fa-remove"></i></a></div>
    <ul class="scrollbar-inner">
        <li>@Html.ActionLink(Resource.Home, "Index", new {Culture})</li>
        <li>
            <a href="javascript:;">@Resource.About</a>
            <ul class="sub-menu">
                @foreach (var about in Model.Abouts.Take(2))
            {
            <li><span class="icon-menu-left"></span> <a href="@Url.Action("About", new {aboutId = about.Id, name = Html.ConvertToUnSign(about.Subject), Culture})">@about.Subject</a></li>
            }
                <li><a href="@Url.Action("ListTeacher", new {Culture})">@Resource.Teachers</a></li>
                @foreach (var about in Model.Abouts.Skip(2))
            {
            <li><span class="icon-menu-left"></span> <a href="@Url.Action("About", new {aboutId = about.Id, name = Html.ConvertToUnSign(about.Subject), Culture})">@about.Subject</a></li>
            }
                @*<li><span class="icon-menu-left"></span> <a href="@Url.Action("ListFacility", new {Culture})">@Resource.Classrooms</a></li>*@
            </ul>
        </li>
        <li>
            <a href="javascript:;">@Resource.NewEvent</a>
            <ul class="sub-menu">
                @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 1))
            {
            <li>
                <a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a>
            </li>
            }
            </ul>
        </li>
        <li>
            <a href="javascript:;">@Resource.ChuongTrinh</a>
            <ul class="sub-menu">
                @foreach (var groupCourse in Model.GroupCourses)
            {
            <li>
                <a href="@Url.Action("GroupCourse", new {gId = groupCourse.Id, name = Html.ConvertToUnSign(groupCourse.Name), Culture})">@(UICulture == "vi-VN" ? groupCourse.Name : groupCourse.Name_En)</a>
                @if (Model.Courses.Any(a => a.GroupId == groupCourse.Id))
                    {
                    <ul>
                        @foreach (var course in Model.Courses.Where(a => a.GroupId == groupCourse.Id))
                            {
                            <li><a href="@Url.Action("Course", new {courseId = course.Id, name = Html.ConvertToUnSign(course.Name), Culture})">@course.Name</a></li>
                            }
                    </ul>
                    }
            </li>
            }
            </ul>
        </li>
        <li>
            <a href="javascript:;">@Resource.LichKhaiGiang</a>
            @if (Model.Categorieses.Any(a => a.ParentId == 126))
        {
            string cssClass = null;
            if (Model.Categorieses.Count(a => a.ParentId == 126) > 10)
            {
                cssClass = "two-col";
            }
        <ul class="sub-menu @cssClass">
            @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 126))
                {
                <li><a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                }
        </ul>
        }
        </li>
        <li>
            <a href="javascript:;">@Resource.KetQuaHoc</a>
            @if (Model.Categorieses.Any(a => a.ParentId == 34))
        {
            string cssClass = null;
            if (Model.Categorieses.Count(a => a.ParentId == 34) > 10)
            {
                cssClass = "two-col";
            }
        <ul class="sub-menu @cssClass">
            @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 34))
                {
                <li><a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
                }
        </ul>
        }
        </li>
        <li>
            <a href="javascript:;">@Resource.TuongTacHocVien</a>
            <ul class="sub-menu">
                @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 209))
            {
            <li><a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
            }
            </ul>
        </li>
        <li>
            <a href="javascript:;">@Resource.DuHoc</a>
            <ul class="sub-menu">
                @foreach (var category in Model.Categorieses.Where(a => a.ParentId == 3))
            {
            <li><a href="@Url.Action("ListNews", new {catId = category.Id, name = Html.ConvertToUnSign(category.Name), Culture})">@category.Name</a></li>
            }
            </ul>
        </li>
        <li>
            <a href="javascritp:;">@Resource.More</a>
            <ul class="sub-menu">
                <li>@Html.ActionLink(Resource.Contact, "Contact", new {Culture})</li>
                <li><a href="http://jobs.ocean.edu.vn" target="blank">@Resource.TuyenDung</a></li>
                <li>@Html.ActionLink(Resource.Album, "ProfileImage", new {Culture})</li>
                <li>@Html.ActionLink(Resource.Document, "Document", new {Culture})</li>
            </ul>
        </li>
    </ul>
</div>