@model Ocean2014.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Hệ Thống Anh Ngữ - Học Tiếng Anh với Giáo Viên Nước Ngoài";
    ViewBag.Description = "Hệ thống Anh ngữ Quốc tế Ocean Edu với 100% giáo viên nước ngoài đã đào tạo thành công hơn 500.000 học viên theo học các chương trình tiếng Anh.";
    ViewBag.Keywords = "trung tâm tiếng Anh, Trung tâm Anh ngữ, Học tiếng Anh, trung tâm ngoại ngữ";
    ViewBag.Canonical = Request.Url;
    var firstbanner = Model.Banners.FirstOrDefault(a => a.Advertise_Potision == 1);
    if (firstbanner != null)
    {
        ViewBag.ImageThumb = "http://ocean.edu.vn" + Path.Combine("/images/banners/", firstbanner.Advertise_Image);
    }
    var bannerPopup = Model.Banners.FirstOrDefault(a => a.Advertise_Potision == 5);
    var i = 1;
}

<div class="container mt20">
    <div id="camera-slideshow" class="pattern_1">
        @foreach (var banner in Model.Banners.Where(a => a.Advertise_Potision == 1))
        {
            <div data-src="@Path.Combine("/images/banners/",banner.Advertise_Image)" data-thumb="" data-link="@banner.Advertise_Link" data-target="_self">
            </div>
        }
    </div>
</div>
<div class="container hidden-xs">
    <div id="sticky">
        <a href="@Url.Action("RegisterOnline", new {Culture})"><img src="~/Content/images/skin/reg-online-icon.png" alt="Trung tâm Anh Enroll trực tuyến" /></a>
    </div>
</div>
<div class="container wow animated fadeInLeft">
    <div class="module-name text-center" style="border: 0;">
        <h2>@Resource.CLT</h2>
    </div>
    <div class="box-intro">
        <div class="row padding-box">
            <div class="col-md-3 col-xs-6 text-center">
                <div class="hvr-bob">
                    <img src="~/Content/images/skin/icon-1.jpg" class="img-responsive" alt="ngôn ngữ tiếng Anh Ocean Edu icon" />
                    <div class="clearfix">
                        <div class="bg-1"></div>
                        <div class="intro-caption">
                            @Resource.TuongTac
                        </div>
                        <div class="bg-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="hvr-bob">
                    <img src="~/Content/images/skin/icon-2.jpg" class="img-responsive" alt="học tiếng anh biểu tượng" />
                    <div class="clearfix">
                        <div class="bg-1"></div>
                        <div class="intro-caption">
                            @Resource.KhongGian
                        </div>
                        <div class="bg-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="hvr-bob">
                    <img src="~/Content/images/skin/icon-3.jpg" class="img-responsive" alt="người biểu tượng ngôn ngữ tiếng anh" />
                    <div class="clearfix">
                        <div class="bg-1"></div>
                        <div class="intro-caption">
                            @Resource.GiaoTiep
                        </div>
                        <div class="bg-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="hvr-bob">
                    <img src="~/Content/images/skin/icon-4.jpg" class="img-responsive" alt="trung tâm ngoại ngữ icon" />
                    <div class="clearfix">
                        <div class="bg-1"></div>
                        <div class="intro-caption">
                            @Resource.ThucTe
                        </div>
                        <div class="bg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container wow animated fadeInUp">
    <div class="module-name text-center" style="border-top: 0">
        <h2>@Resource.ListCourseHome</h2>
    </div>
    <div class="row" id="list-course">
        @{
            var j = 1;
        }
        @foreach (var groupCourse in Model.GroupCourses)
        {
            string hoverclass;
            switch (j)
            {
                case 2:
                    hoverclass = "hover-orange";
                    break;
                case 3:
                    hoverclass = "hover-green";
                    break;
                case 4:
                    hoverclass = "hover-red";
                    break;
                default:
                    hoverclass = "hover-pink";
                    break;
            }
            <div class="col-sm-6 col-xs-12 hvr-float-shadow course-item">
                <div class="background-course @hoverclass">
                    <div class="bg-trans-top">
                        <div class="row">
                            <div class="col-sm-7 col-xs-6" style="z-index: 2">
                                <div class="bg-number font-dax-bold">
                                    @string.Format("0{0}", j)
                                </div>
                                <div class="text-course">
                                    <a href="@Url.Action("GroupCourse", new {gId = groupCourse.Id, name = Html.ConvertToUnSign(groupCourse.Name), Culture})">
                                        @(Culture == "vi-VN" ? groupCourse.Name : groupCourse.Name_En)
                                    </a>
                                </div>
                                <div class="button-course">
                                    <a href="@Url.Action("GroupCourse", new {gId = groupCourse.Id, name = Html.ConvertToUnSign(groupCourse.Name), Culture})" class="btn btn-sm btn-danger"><i class="fa fa-caret-right"></i> @Resource.SeeDetail</a>
                                </div>
                            </div>
                            <div class="col-sm-5 col-xs-6">
                                <div class="img-course">
                                    @if (groupCourse.Image != null)
                                    {
                                        <img src="@Path.Combine("/images/course/", groupCourse.Image)?w=220&h=180&mode=crop" alt="sinh viên học tiếng Anh Ocean Edu" class="img-responsive hvr-wobble-horizontal" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            j++;
        }
    </div>
    <div class="text-center">
        <a href="/" onclick="showMoreCourse()" class="btn btn-sm btn-ocean font-dax-light hvr-shutter-out-vertical">Click để xem thêm khóa học <i class="fa fa-caret-down"></i></a>
    </div>
</div>
<div class="container mt30 wow animated fadeInUp">
    <div class="module-name text-center">
        <h2>@Resource.NewEvent</h2>
    </div>
    <div class="news-line-1"></div>
    <div class="box-news-home">
        <div class="row padding-box">
            <div class="col-md-3 col-xs-6 text-center">
                <a href="/vi-VN/tin-tuc/ban-tin-ocean-edu-183">
                    <div class="hvr-bob">
                        <div style="padding: 30px; padding-bottom: 0;">
                            <img src="~/Content/images/v2/new-1.png" class="img-responsive" alt="Bản tin mới" />
                        </div>
                        <div class="clearfix">
                            <div class="bg-1"></div>
                            <div class="intro-caption">
                                Xem chi tiết
                            </div>
                            <div class="bg-2"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <a href="/vi-VN/tin-tuc/goc-bao-chi-208">
                    <div class="hvr-bob">
                        <div style="padding: 30px; padding-bottom: 0;">
                            <img src="~/Content/images/v2/new-2.png" class="img-responsive" alt="Trải nghiệm, vươn xa" />
                        </div>
                        <div class="clearfix">
                            <div class="bg-1"></div>
                            <div class="intro-caption">
                                Xem chi tiết
                            </div>
                            <div class="bg-2"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <a href="/vi-VN/tin-tuc/cuoc-thi-mtv-216">
                    <div class="hvr-bob">
                        <div style="padding: 30px; padding-bottom: 0;">
                            <img src="~/Content/images/v2/new-3.png" class="img-responsive" alt="Tương tác hiệu quả" />
                        </div>
                        <div class="clearfix">
                            <div class="bg-1"></div>
                            <div class="intro-caption">
                                Xem chi tiết
                            </div>
                            <div class="bg-2"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <a href="@Url.Action("ListVideo")">
                    <div class="hvr-bob">
                        <div style="padding: 30px; padding-bottom: 0;">
                            <img src="~/Content/images/v2/new-4.png" class="img-responsive" alt="Hình ảnh thực tế" />
                        </div>
                        <div class="clearfix">
                            <div class="bg-1"></div>
                            <div class="intro-caption">
                                Xem chi tiết
                            </div>
                            <div class="bg-2"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row list-comment">
        @foreach (var news in Model.OceanNews.Take(2))
        {
            var classCss = "background-course";
            if (i % 2 == 0)
            {
                classCss = "background-course-reverse";
            }
            <div class="col-md-6 col-sm-12 comment-item">
                <div class="@classCss">
                    <div class="box-img-cm">
                        <div class="icon-star"></div>
                        @if (news.Image != null)
                        {
                            <a href="@Url.Action("News", new {newsId = news.Id, name = Html.ConvertToUnSign(news.Subject), Culture})">
                                <img src="@news.Image?w=404&h=288&mode=crop" class="hvr-rotate img-responsive" alt="@news.Subject" />
                            </a>
                        }
                    </div>
                    <div class="bg-text-cm hvr-float-shadow">
                        <p>
                            <a class="font-roboto title-cm" href="@Url.Action("News", new {newsId = news.Id, name = Html.ConvertToUnSign(news.Subject), Culture})">@news.Subject</a>
                        </p>
                        <p>@Html.CutString(news.Description, 200)</p>
                    </div>
                </div>
            </div>
            i++;
        }
    </div>

</div>
<div class="container">
    <div class="news-line-1"></div>
</div>
<div class="container mt30 wow animated fadeInUp">
    <div class="module-name text-center">
        <h2>@Resource.StudentComments</h2>
    </div>
    <div class="row list-comment">
        @{
            i = 1;
        }
        @foreach (var news in Model.News.Take(2))
        {
            var classCss = "background-course";
            if (i % 2 == 0)
            {
                classCss = "background-course-reverse";
            }
            <div class="col-md-6 col-sm-12 comment-item">
                <div class="@classCss">
                    <div class="box-img-cm">
                        <div class="icon-star"></div>
                        @if (news.Image != null)
                        {
                            <a href="@Url.Action("News", new {newsId = news.Id, name = Html.ConvertToUnSign(news.Subject), Culture})">
                                <img src="@news.Image?w=w=404&h=288&mode=crop" class="hvr-rotate" alt="@news.Subject" />
                            </a>
                        }
                    </div>
                    <div class="bg-text-cm hvr-float-shadow">
                        <p>
                            <a class="font-roboto title-cm" href="@Url.Action("News", new {newsId = news.Id, name = Html.ConvertToUnSign(news.Subject), Culture})">@news.Subject</a>
                        </p>
                        <p>@Html.CutString(news.Description, 200)</p>
                    </div>
                </div>
            </div>
            i++;
        }
    </div>
    <div class="news-line-1"></div>
    <div class="text-center border-see-more">
        <a href="/vi-VN/tin-tuc/tam-su-hoc-vien-210" onclick="showMoreComent()" class="btn btn-sm btn-ocean font-dax-light hvr-shutter-out-vertical">Click để xem thêm<i class="fa fa-caret-down"></i></a>
    </div>
</div>
@Html.Action("OfficeList")
@if (bannerPopup != null)
{
    <div style="display: none">
        <div id="banner-popup">
            @Html.ShowBanner(Path.Combine("/images/banners/", bannerPopup.Advertise_Image), bannerPopup.Advertise_Link, bannerPopup.Advertise_Width, bannerPopup.Advertise_Height, bannerPopup.Advertise_Target, bannerPopup.Name)
        </div>
    </div>
}
@section scripts
{
    <script src="~/Content/images/helpers/jquery.fancybox-media.js"></script>
    <script src="~/Scripts/camera.min.js"></script>
    <script>
        $("#camera-slideshow").camera({height: '41%',time: 3000});
        $("#sticky").sticky({topSpacing: 100});
        $(".office-item:gt(8)").hide();
        $(".line-office:gt(3)").hide();
        $(".fancybox-media").fancybox({
            helpers: { media: {} }
        });
        @if (bannerPopup != null)
        {
            <text>
            $.fancybox.helpers.overlay.open({ parent: $('body') });
            $.fancybox.open({ href: "#banner-popup" });
            </text>
        }
        getImg(183);
        getImg(208);
        getImg(216);
    </script>
}
