@using PagedList.Mvc
@model PagedList.IPagedList<Ocean2014.ViewModel.NewsDto>
@{
    ViewBag.Title = Resource.Job;
}

<hr />
<div class="container">
    <a href="http://jobs.ocean.edu.vn/vi" target="blank"><img src="~/Content/images/ocean-job.jpg" class="img-responsive" alt="Tuyển dụng Ocean" /></a>
</div>

<div class="container mt30">
    <div class="row">
        @if (Model.Any())
            {
                foreach (var news in Model)
                {
                <div class="col-sm-6 mt15">
                    <div class="box-list-course">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="box-img-hover">
                                    <a href="@Url.Action("News", new {newsId = news.Id, name = Html.ConvertToUnSign(news.Subject), Culture})">
                                        <img src="@news.Image?w=262&h=170&mode=crop" alt="" class="img-responsive" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="icon-top-left"></div>
                                <a href="@Url.Action("News", new {newsId = news.Id, name = Html.ConvertToUnSign(news.Subject), Culture})" class="news-title">@news.Subject</a>
                                <p>@news.Description</p>
                                <a href="@Url.Action("News", new {newsId = news.Id, name = Html.ConvertToUnSign(news.Subject), Culture})" class="label label-success pull-right">Xem tiếp</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (Model.PageCount > 1)
            {
                <div class="text-center">@Html.PagedListPager(Model, page => Url.Action("Job", new { page }))</div>
            }
        }
        else
        {
            <p class="alert alert-info">Nội dung đang được cập nhật</p>
        }
    </div>
</div>