@model Ocean2014.ViewModel.RegCourse
@{
    ViewBag.Title = Resource.RegiserFree;
    ViewBag.Description = "Đăng ký học thử miễn phí để trải nghiệm phương pháp học tiếng Anh ở Ocean Edu";
    ViewBag.Keywords = Resource.RegiserFree;

    var sr = new StreamReader(Server.MapPath("/images/contact/reginfo.txt"));
    var reginfo = sr.ReadToEnd();
    sr.Close();
}

<div class="container mt30">
    <div class="row">
        <div class="col-sm-8 col-sm-push-4">
            <div class="box-module-center-reserve" style="margin-top: -2px">
                <h1>ĐĂNG KÝ TRẢI NGHIỆM HỌC TIẾNG ANH</h1>
            </div>
            <div class="body-content">
                @Html.Raw(reginfo)
            </div>
            @if (ViewBag.Result == 1)
            {
                <p class="alert alert-success small text-center mt15">@Resource.RegisterSuccess</p>

                <!-- Google Code for Ocean Edu Conversion Conversion Page -->
                <script type="text/javascript">
                    /* <![CDATA[ */
                    var google_conversion_id = 856445589;
                    var google_conversion_language = "en";
                    var google_conversion_format = "3";
                    var google_conversion_color = "ffffff";
                    var google_conversion_label = "6aDVCIaUqXAQlaWxmAM";
                    var google_remarketing_only = false;
                    /* ]]> */
                </script>
                <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                </script>
                <noscript>
                    <div style="display:inline;">
                        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/856445589/?label=6aDVCIaUqXAQlaWxmAM&amp;guid=ON&amp;script=0" />
                    </div>
                </noscript>
                <!-- Google Code for Ocean Edu Conversion Conversion Page -->

                <!--Facebook Pixel conversion-->
                <script>
                    fbq('track', 'CompleteRegistration', {
                        value: 0.5,
                        currency: 'USD'
                    });
                </script>
                <!--Facebook Pixel conversion-->
            }
            else
            {
                <p class="alert alert-info small text-center mt30">@Resource.NoticeContact</p>
                <form action="@Url.Action("RegisterOnline", new {Culture})" method="POST" class="form-horizontal mt30 mb50">
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(a => a.FullName, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(a => a.FullName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.FullName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Mobile, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(a => a.Mobile, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Mobile)
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(a => a.Address, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(a => a.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Address)
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(a => a.Email, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Email)
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(a => a.Birthday, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(a => a.Birthday, new { @class = "form-control", type = "number" })
                            @Html.ValidationMessageFor(a => a.Birthday)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Job, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(a => a.Job, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Job)
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(a => a.CourseId, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(a => a.CourseId, Model.CourseList, Resource.RequiredCourse, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.CourseId)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.OfficeId, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DropDownListFor(a => a.OfficeId, Model.OfficeList, Resource.RequiredOffice, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.OfficeId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-ocean"><i class="fa fa-check"></i> @Resource.RegiserFree.ToUpper()</button>
                            <button type="reset" class="btn btn-link">@Resource.Reset</button>
                        </div>
                    </div>
                </form>
            }
            <div class="bg-bottom-box-center"></div>
        </div>
        @Html.Action("LeftAbout")
    </div>
</div>